
<br>
<h3>Update Occupancy Values</h3>
<br>
<table class = "center_table">
  <tr class = "center_table">
    <td class="occupancy">Current Top Floor Occupancy:  <strong class="num"><%= @gym.top_floor_occupancy %></strong></td>
    <td>
      <button class="button" id="top_plus">
        <%= link_to("+", gym_path(:id => 3), method: :patch) %>
      </button>
    </td>
    <td>
      <button class="button" id="top_minus">
        <%= link_to("-", gym_path(:id => 1), method: :patch) %>
      </button>
    </td>
  </tr>
  <tr>
    <td class="occupancy">Current Bottom Floor Occupancy:  <strong class="num"><%= @gym.bottom_floor_occupancy %></strong></td>
    <td>
      <button class="button" id="bottom_plus">
        <%= link_to("+", gym_path(:id => 4), method: :patch) %>
      </button>
    </td>
    <td>
      <button class="button" id="bottom_minus">
        <%= link_to("-", gym_path(:id => 2), method: :patch) %>
      </button>
    </td>
  </tr>
</table>
<br>
<div class="row">
    <div class="col-md">
      <h3>Trudy Fitness Queue</h3>
    </div>
</div>
<br>
<div id = "container">
  <div class="d-flex justify-content-center">
    <% unless Ticket.queueTop.empty? %>
      <button class="button" id="admit">
        <%= link_to("Admit to top", @ticketsTop.first, method: :delete) %>
      </button>
    <% end %>
    <% unless Ticket.queueBottom.empty? %>
      <button class="button" id="admit">
        <%= link_to("Admit to bottom", @ticketsBottom.first, method: :delete) %>
      </button>
    <% end %>
  </div>
</div>

<div id = "container">
  <div class="d-flex justify-content-center">
    <table class="table" id="queue">
      <thead class="thead-light">
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Email</th>
          <th>Floor</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @ticketsTop.each do |t| %>
          <tr>
            <td>
              <%= t.get_position_top %>
            </td>
            <td>
              <%= t.name %>
            </td>
            <td>
              <%= t.user.email %>
            </td>
            <td>
              <%= t.floor %>
            </td>
            <td>
              <%= t.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <table class="table" id="queue">
      <thead class="thead-light">
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Email</th>
          <th>Floor</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @ticketsBottom.each do |t| %>
          <tr>
            <td>
              <%= t.get_position_bottom %>
            </td>
            <td>
              <%= t.name %>
            </td>
            <td>
              <%= t.user.email %>
            </td>
            <td>
              <%= t.floor %>
            </td>
            <td>
              <%= t.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


