<div class="row">
    <div class="col-md">
      <h3>Trudy Fitness Queue</h3>
    </div>
</div>
<br>
<br>
<table>
  <tr>
    <td class="occupancy">Current Top Floor Occupancy:   <%= @gym.top_floor_occupancy %></td>
    <td class="plus1"><%= link_to("<button class='plus1'> + </button>".html_safe, gym_path(:id => 1), method: :patch) %></td>
    <td><%= link_to("<button class='min' id='min1'> - </button>".html_safe, gym_path(:id => 3), method: :patch) %></td>
  </tr>
  <tr>
    <td class="occupancy">Current Bottom Floor Occupancy: <%= @gym.bottom_floor_occupancy %></td>
    <td><%= link_to("<button class='plus' id='plus2'> + </button>".html_safe, gym_path(:id => 4), method: :patch) %></td>
    <td><%= link_to("<button class='min' id='min2'> - </button>".html_safe, gym_path(:id => 4), method: :patch) %></td>
  </tr>
</table>
<br>
<br>
<% unless @tickets.first.nil? %>
  
    <%= link_to("<button>Admit new gym user</button>".html_safe, @tickets.first, method: :delete) %> 
  
<% end %>
<table class="table" id="queue">
  <thead class="thead-light">
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Email</th>
      <th>Floor</th>
      <th>Time</th>
      <th>UserID</th>
      <th>Gym</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |p| %>
      <tr>
        <td>
          <%= p.id %>
        </td>
        <td>
          <%= p.name %>
        </td>
        <td>
          <%= p.user.email %>
        </td>
        <td>
          <%= p.floor %>
        </td>
        <td>
          <%= p.created_at %>
        </td>
        <td>
          <%= p.user_id %>
        </td>
        <td>
          <%= p.gym.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

