
<br>
<h3>Update Occupancy Values</h3>
<br>
<table class = "center_table">
  <tr class = "center_table">
    <td class="occupancy">Current Top Floor Occupancy:  <strong class="num"><%= @gym.top_floor_occupancy %></strong></td>
    <td>
      <button class="button" id="top_plus">
        <%= link_to("+", gym_path(:id => 3), method: :patch) %>
      </button>
    </td>
    <td>
      <button class="button" id="top_minus">
        <%= link_to("-", gym_path(:id => 1), method: :patch) %>
      </button>
    </td>
  </tr>
  <tr>
    <td class="occupancy">Current Bottom Floor Occupancy:  <strong class="num"><%= @gym.bottom_floor_occupancy %></strong></td>
    <td>
      <button class="button" id="bottom_plus">
        <%= link_to("+", gym_path(:id => 4), method: :patch) %>
      </button>
    </td>
    <td>
      <button class="button" id="bottom_minus">
        <%= link_to("-", gym_path(:id => 2), method: :patch) %>
      </button>
    </td>
  </tr>
</table>
<br>
<div class="row">
    <div class="col-md">
      <h3>Trudy Fitness Queue</h3>
    </div>
</div>
<br>
<% unless @tickets.first.nil? %>
  <button class="button" id="bottom_plus">
    <%= link_to("Admit new gym user", @tickets.first, method: :delete) %>
  </button>
<% end %>
<table class="table" id="queue">
  <thead class="thead-light">
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Email</th>
      <th>Floor</th>
      <th>Time</th>
      <th>UserID</th>
      <th>Gym</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |t| %>
      <tr>
        <td>
          <%= t.get_position %>
        </td>
        <td>
          <%= t.name %>
        </td>
        <td>
          <%= t.user.email %>
        </td>
        <td>
          <%= t.floor %>
        </td>
        <td>
          <%= t.created_at %>
        </td>
        <td>
          <%= t.user_id %>
        </td>
        <td>
          <%= t.gym.id %>
        </td>
        <td>
          <%= t.gym.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button>
    
    <%= link_to('Decrement Top Floor Capacity', gym_path(:id => 1), method: :patch) %> 
</button>
  
<button>
    
    <%= link_to('Decrement Bottom Floor Capacity', gym_path(:id => 2), method: :patch) %> 
</button>
