<div class="row">
    <div class="col-md">
      <h3>Trudy Fitness queue</h3>
    </div>
</div>
<% unless @tickets.first.nil? %>
  <button>
    <%= link_to('Admit new gym user', @tickets.first, method: :delete) %> 
  </button>
<% end %>
<table class="table">
  <thead class="thead-light">
    <tr class="products_header">
      <th>Position</th>
      <th>Name</th>
      <th>Email</th>
      <th>Floor</th>
      <th>Time</th>
      <th>UserID</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |p| %>
      <tr class="product">
        <td class="productname">
          <%= p.id %>
        </td>
        <td class="productname">
          <%= p.name %>
        </td>
        <td class="productname">
          <%= p.user.email %>
        </td>
        <td class="productname">
          <%= p.floor %>
        </td>
        <td class="productprice">
          <%= p.created_at %>
        </td>
        <td class="productprice">
          <%= p.user_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>