<div class="row">
    <div class="col-md">
      <h3>Trudy Fitness queue</h3>
    </div>
</div>
<table class="table">
<thead class="thead-light">
  <tr class="products_header">
    <th>Position</th>
    <th>Name</th>
    <th>Email</th>
    <th>Time</th>
  </tr>
</thead>
<tbody>
  <% @tickets.each do |p| %>
    <tr class="product">
      <td class="productname">
        <%= p.id %>
      </td>
      <td class="productname">
        <%= p.name %>
      </td>
      <td class="productname">
        <%= p.email %>
      </td>
      <td class="productprice">
        <%= p.created_at %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to('Create new ticket', new_ticket_path()) %> 