<% if @ticket.not_present? %>
    <%= form_with model: @ticket, local: true do |f| %>
        <h1>Create New Ticket</h1>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br >
        <%= f.label :floor %>
        <%= f.select :floor, [['Top','top'],['Bottom','bottom']] %>
        <br >
        <%= f.submit "Create new Ticket" %>
    <% end %>
<% else %>
    <h1>
        You have already submitted a ticket for the queue.
    </h1>
    <h2>
        <%= "Your current position in the queue is: #{@ticket.get_position}" %>
    </h2>
<% end %>