<% if @gym.check_tickets == false %>
    <%= form_with model: @ticket, local: true do |f| %>
        <h1>Create New Ticket</h1>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br >
        <%= f.label :floor %>
        <%= f.select :floor, [['Top','top'],['Bottom','bottom']] %>
        <br >
        <%= f.submit "Create new Ticket" %>
    <% end %>
<% else %>
    <h1>
        You have already submitted a ticket for the <%= current_user.ticket.floor %> floor queue.
    </h1>
    <h2>
        Your current position is: <%= @gym.check_tickets %>
    </h2>
<% end %>